/* @import "tailwindcss/base"; */


/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* 盒型设计 */
    }
    html,
    body {
        height: 100%;
        width: 100%;
    }
    body {
        @apply bg-background-primary text-text-primary font-sans;
    }
}